@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	width: 70%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header, nav {
	text-align: center;
	background-color: #332b28;
	padding: 10px;
}

header {
	text-align: center;
}

header div h1 {
	display: inline-block;

}

header div img {
    vertical-align: text-bottom;
    margin-right: 2em;
}

.titulo {
	margin: 0;
	border: 0;
	text-align: center;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 5em;
}

.subtitulo {
	text-align: center;
	color: white;
	font-size: 1em;
	margin-top: 2em;
}

header nav a {
	padding: 2px 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 1em;
}

header nav a:hover {
	color: #332b28;
	background-color: #DCB22A;
	text-decoration: none;
}

section {
	margin-top: 5em;
}

section h2 {
	font-weight: 700;
}

section p {
	font-weight: 400;	
}

section button {
    background-color: #332b28;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

section button:hover {
    background-color: #DCB22A;
    border: none;
    color: #332b28;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}